<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mrdotxin.icloudcanvas.mapper.PictureMapper">

    <resultMap id="BaseResultMap" type="com.mrdotxin.icloudcanvas.model.entity.Picture">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="introduction" column="introduction" jdbcType="VARCHAR"/>
            <result property="category" column="category" jdbcType="VARCHAR"/>
            <result property="tags" column="tags" jdbcType="VARCHAR"/>
            <result property="picSize" column="picSize" jdbcType="BIGINT"/>
            <result property="picWidth" column="picWidth" jdbcType="INTEGER"/>
            <result property="picHeight" column="picHeight" jdbcType="INTEGER"/>
            <result property="picScale" column="picScale" jdbcType="DOUBLE"/>
            <result property="picFormat" column="picFormat" jdbcType="VARCHAR"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="editTime" column="editTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="reviewStatus" column="reviewStatus" jdbcType="INTEGER"/>
        <result property="reviewerId" column="reviewerId" jdbcType="BIGINT"/>
        <result property="reviewTime" column="reviewTime" jdbcType="TIMESTAMP"/>
        <result property="rawFormat" column="rawFormat" jdbcType="VARCHAR"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <delete id="deleteFromDatabase" parameterType="string">
        DELETE
        FROM picture
        WHERE id = #{id}
    </delete>

    <select id="selectKPriorDeletedPicture"
            resultType="com.mrdotxin.icloudcanvas.model.dto.picture.inner.PictureDeleteParams">
        SELECT id, url, rawFormat
        FROM picture
        WHERE isDelete = 1
        ORDER BY updateTime ASC
            LIMIT #{limits}
    </select>

    <delete id="deletePicturesByBatch">
        DELETE FROM picture WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
